.top-nav {
	background-color: #D3D3D3;
	width: 100%;
	height: 40px;
	position: fixed;
}

.nav-container {
	margin-right: 30px;
	margin-left: 30px;
	font-size: 18px;
	position: relative;
	line-height: 40px;
	vertical-align: middle;
}

.logo  {
	/*display: inline-block;*/
	
}

.container-logo {
	text-align: left;
	display: inline-block;
}


.container-links {
	text-align: right;
	display: inline-block;
	position: absolute;
	right: 0px;
}

.nav-link, .nav-link1 {
	position: relative;
	display: inline-block;
	margin: 0px;
	padding-left: 0px;
}

.nav-link1 {
	margin-right: 10px;
}


nav a:link {
	color: purple;
}

/* end navigation */
.main {
	margin-left: 100px;
	margin-right: 100px;
}
	

.container-search {
	position: relative;
	/*margin-left: 100px;
	margin-right: 100px;*/
}

/* begin form */


.container-form {
	width: 600px;
	display: inline-block;
	position: absolute;
	top: 100px;
}

input[type=text] {
	width: 80%;
	padding: 12px 20px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
}

input[type=image] {
	display:inline-block;
	height: 44px;
	vertical-align: middle;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
}

/* end form */

.container-controls {
	position: relative;
}

.controls {
	display: inline-block;
	position: absolute;
	top: 200px;
	list-style-type: none;
	font-size: 0px;
	padding-left: 0px;
/*	border: 1px solid #D3D3D3;
	border-radius: 4px;	
	padding: 10px;*/
}

.control-style1, .control-style2, .control-style3 {
	display: inline-block;
	border: 1px solid #D3D3D3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
/*	border-right-color: blue;
	border-right-style: solid;
	border-right-width: 1px;*/
	line-height: 100%;
	font-size: 15px;
}

.control-style1 {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right-style: none;
}

.control-style3 {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left-style: none;
}

.controls a:link {
	color: black;
}
/* job results */

.container-results {
	position: relative;
}

.results {
	display: inline-block;
	position: absolute;
	top: 300px;
	list-style-type: none;
	padding-left: 0px;
}

.list-date {
	margin-right: 10px;
	color: #D3D3D3;

}

.list-location {
	margin-left: 10px;
	color: #D3D3D3;
}

.list-job {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 900;
}

.results a:link {
	color: blue;
}

.list-style {
	margin-top: 10px;
}
